html {
  height: 100%;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

.home-meals {
  background: url("./my_recipe_book/images/background-02-port.png") no-repeat
    center;
  background-attachment: fixed;
  background-size: cover;
}

/* Header */

.header {
  background-color: #222121;
  width: 100%;
  height: 60px;
  top: 0;
  position: fixed;
  overflow: hidden;
  text-align: center;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.header i {
  float: left;
  padding: 22px 0 0 17px;
  color: #fff;
  transition: 0.2s ease;
}

.header i:hover {
  transform: scale(1.3);
}

.header img {
  padding: 16px 40px 0 0;
  width: 200px;
}

/* Home page */

/* Menu */

.home-menu-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border: 5px solid #fff;
  display: block;
  margin: auto auto 10px auto;
  width: 25%;
  border-radius: 20px;
  transition: width 0.2s ease;
}

.home-menu-item:hover {
  width: 20%;
  backdrop-filter: blur(8px);
}

/* images */

.home-logo-img,
.home-logo-text {
  width: 50px;
  display: block;
  margin: auto;
  padding: 25px 10px 10px 10px;
}

.home-logo-text {
  width: auto;
}

/* Meals page */

.meals-container {
  padding-top: 90px;
}

.home-body {
  background: url("./my_recipe_book/images/background-01-port.png") no-repeat
    center;
  background-attachment: fixed;
  background-size: cover;
}

.meals-list a {
  text-decoration: none;
}

.meals-list-item {
  border: 5px solid #1a1a1a;
  border-radius: 5px;
  margin: 15px;
}

.meals-list-item:hover {
  backdrop-filter: blur(8px);
}

.meals-list-item h1 {
  font-weight: bold;
  font-size: 20px;
  color: #1a1a1a;
  padding-left: 10px;
}

.meals-list-item i {
  float: right;
  color: #1a1a1a;
  padding: 15px;
  font-size: 25px;
  transition: 0.3 ease;
}

.meals-list-item i:hover {
  transform: scale(1.3);
  color: rgb(4, 71, 4);
}

.meals-list-item p {
  font-size: 15px;
  font-style: italic;
  color: #4d4d4d;
  margin-top: -7px;
  padding-left: 10px;
}

/* Recipe page */

/* Recipe details */

.recipe-container {
  padding-top: 50px;
  background-color: #e4e4e2;
}

.recipe-details img {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.recipe-details h1 {
  font-size: 25px;
  text-align: center;
  margin-top: 40px;
  padding: 5px;
}

.recipe-details h2 {
  font-size: 20px;
  text-align: left;
  margin: 5px 0 15px 10px;
}

.recipe-details-info {
  margin: 0 25px;
}

.recipe-details-info p {
  font-size: 13px;
  display: inline-block;
}

.recipe-details-ingredients label {
  line-height: 25px;
  margin-left: 5px;
}

.recipe-details-ingredients input {
  margin-left: 10px;
}

.recipe-details-steps {
  padding-top: 20px;
}

.recipe-details-steps ol {
  padding-left: 28px;
}

.recipe-details-steps li {
  line-height: 23px;
  margin-right: 15px;
}

.end {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}

/* Responsive layout */

@media only screen and (min-width: 600px) {
  .home-meals,
  .recipies-body,
  .header {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .home-meals,
  .recipies-body,
  .header {
    width: 60%;
    margin: auto;
  }
}

@media only screen and (min-width: 1500px) {
  .home-meals,
  .recipies-body,
  .header {
    width: 40%;
    margin: auto;
    background-size: cover;
  }
}

@media only screen and (min-width: 720px) {
  .home-body {
    background: url("./my_recipe_book/images/background-01-land.png") no-repeat
      center;
    background-size: cover;
  }

  .home-meals {
    background: url("./my_recipe_book/images/background-02-land.png") no-repeat
      center;
    background-size: cover;
  }
}
